@import 'base';
@import 'regulars_base';

$borderRadiusSize: 12px;
$paddingBttsSize: 15px;

@mixin borderRadius($size) {
    border-bottom-left-radius: $size;
    border-top-right-radius: $size;
}

@mixin paddingBtts($size) {
    padding-right: $size;
    padding-left: $size;
    padding-top: $size * 0.30;
    padding-bottom: $size * 0.40;
}

#divautomato {
    @include FullScreen();
}

#cy {
    @include FullScreen();
    display: block;
    height: 93vh;
    background-color: $roxoEscuro2;
    border-top-left-radius: $borderRadiusSize;
    border-bottom-right-radius: $borderRadiusSize;
}

#cynav {
    @include borderRadius($borderRadiusSize);
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    background-color: $rosaEscuro;
}

.diveditnode {
    display: none;
    flex-direction: column;
    width: 70px;
    height: 45px;
    padding: 10px;
    gap: 5px;
    background-color: $roxoEscuro3;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
}

.cynavbtt {
    @include borderRadius($borderRadiusSize);
    @include paddingBtts($paddingBttsSize);
    font-size: x-large;
    transition: 0.2s;
    cursor: pointer;
    /*&:hover{
        background-color: $rosaEscuro;
    }
    &:active{
        background-color: $roxoEscuro3;
    }*/
}

/*:target{
    background-color: $roxoEscuro3;
}

.target{
    font-size: x-large;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 5px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    background-color: $roxoEscuro3;
}*/