@import 'base_tabelas';

$boxShadowBttSize1: 5px;
$boxShadowBttSize2: 8px;

@mixin displayGridAuto {
    display: grid;
    grid-template-columns: auto auto;
}

#divtestareatable {
    @include tableTextGrammar();
    display: none;
    width: 100%;
    background-color: $rosaEscuroSemTransparencia;
}

#divtestareahead {
    @include displayGridAuto();
    @include borderDivGrammarColumnM('top', $rosaEscuro);
    background-color: $roxoEscuroSemTransparencia;
}

#divtestareabtt {
    display: none;
    place-items: center;
    width: 100%;
    margin-top: 20px;
}

#bttenviartestes {
    width: 8vw;
    height: 50px;
    font-size: large;
    font-weight: 400;
    border-radius: 0 10px 0 10px;
    background-color: $roxoEscuro3;
    box-shadow: $boxShadowBttSize1 $boxShadowBttSize2 $roxoEscuroForte;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: $roxoEscuroForte;
        box-shadow: $boxShadowBttSize1 $boxShadowBttSize2 $roxoEscuroForte2;
    }
    &:active {
        background-color: $roxoEscuroForte2;
        box-shadow: $boxShadowBttSize1 $boxShadowBttSize2 $roxoEscuroForte3;
    }
}

.divtestarearow {
    @include displayGridAuto();
    @include borderDivGrammarColumnM('top', $rosaEscuro);
}

.divtestareacolumn {
    padding-top: $paddingColumn;
    padding-bottom: $paddingColumn;
    width: 14.9vw;
    &:nth-of-type(2n+1){
        @include borderDivGrammarColumnM('right', $rosaEscuro);
    }
}

.ptestareacolumn { margin: 0; }

.inputtestareacolumn {
    @include inputColumn();
}