$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontColor: floralwhite;
$backColor: rgba(193, 85, 255, 0.589);

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
    ::-ms-input-placeholder      {@content}
    ::placeholder               {@content}
}

* {
    outline: none;
    font-family: $fontFamily;
}

a {
    text-decoration: none;
    color: $fontColor;
}

h1 {
    color: $fontColor;
}

html, body {
    margin: 0;
    padding: 0;
    color: $fontColor;
    height: 100%;
    width: 100%;
}