@import 'base';
@import 'regulars_base';
$borderRadiusTable: 10px;
$paddingColumn: 10px;
$borderWidthColumn: 2px;
$columnSize: 10vh;

@mixin borderDivGrammarColumnM($direction) {
    border-#{$direction}-color: $roxoEscuro2;
    border-#{$direction}-width: $borderWidthColumn;
    border-#{$direction}-style: solid;
}

@mixin tableTextGrammar {
    text-align: center;
    font-size: large;
}

@mixin columnTableGrammar {
    margin: 0;
    width: $columnSize;
}

@mixin displayGridAuto {
    display: grid;
    grid-template-columns: auto $columnSize auto;
}

#divgrammar {
    margin-left: $marginLeft;
    margin-top: $marginLeft;
}

#divgrammartable {
    @include tableTextGrammar();
    width: 100% - $marginLeft;
    background-color: $roxoClaro;
    border-radius: $borderRadiusTable;
}

#divgrammarhead {
    @include displayGridAuto();
    @include borderDivGrammarColumnM("top");
    background-color: $roxoEscuro;
    border-top-left-radius: $borderRadiusTable;
    border-top-right-radius: $borderRadiusTable;
}

.divgrammarrow {
    @include displayGridAuto();
    @include borderDivGrammarColumnM("top");
}

.divgrammarcolumn {
    padding-top: $paddingColumn;
    padding-bottom: $paddingColumn;
}

.divgrammarcolumnM {
    @include borderDivGrammarColumnM("right");
    @include borderDivGrammarColumnM("left");
}

.pgrammarcolumn {
    @include columnTableGrammar();
    padding-left: 19.2vw;
}

.pgrammarcolumnM {
    padding-left: 0;
}

.inputgrammarcolumn {
    @include columnTableGrammar();
    @include tableTextGrammar();
    border: none;
    color: $fontColor;
    background-color: transparent;
    padding: 0;
}

