@import 'base_tabelas';
@import 'regulars_base';
$borderRadiusTable: 10px;
$columnSize: 10vh;

@mixin displayGridAuto {
    display: grid;
    grid-template-columns: auto $columnSize auto;
}

#divgrammar {
    margin-left: $marginLeft;
    margin-top: $marginLeft;
}

#divgrammartable {
    @include tableTextGrammar();
    width: 100% - $marginLeft;
    background-color: $roxoClaro;
    border-radius: $borderRadiusTable;
}

#divgrammarhead {
    @include displayGridAuto();
    @include borderDivGrammarColumnM("top", $roxoEscuro2);
    background-color: $roxoEscuro;
    border-top-left-radius: $borderRadiusTable;
    border-top-right-radius: $borderRadiusTable;
}

.divgrammarrow {
    @include displayGridAuto();
    @include borderDivGrammarColumnM("top", $roxoEscuro2);
}

.divgrammarcolumn {
    padding-top: $paddingColumn;
    padding-bottom: $paddingColumn;
}

.divgrammarcolumnM {
    @include borderDivGrammarColumnM("right", $roxoEscuro2);
    @include borderDivGrammarColumnM("left", $roxoEscuro2);
}

.pgrammarcolumn {
    margin: 0;
    width: $columnSize;
    padding-left: 13.1vw;
}

.pgrammarcolumnM {
    padding-left: 0;
    font-size: larger;
}

.inputgrammarcolumn {
    @include inputColumn();
}

