@import 'base';
$menuPaddingSize: 3vh;

@mixin FullScreen() {
    width: 100%;
    height: 100%;
}

body {
    background-color: $rosaClaro;
    overflow: hidden;
}

object {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

aside {
    z-index: 1;
    height: 100%;
}

nav {
    background-color:  $roxoClaro;
}

option {
    padding-top: $menuPaddingSize;
    padding-bottom: $menuPaddingSize;
    padding-left: 25px;
    font-weight: 400;
}

#divgeral {
    @include FullScreen();
    position: relative;
}

#divprinc {
    @include FullScreen();
    position: absolute;
    display: grid;
    grid-template-columns: 20vw 68.8vw auto;
}

#divtestarea {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}

#divopentestarea {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 20vh;
    margin-bottom: 70vh;
    border-radius: 20px 0px 0px 20px;
    background-color: $roxoEscuroForte;
    transition: 0.2s;
    &:hover{
        background-color: $roxoEscuroForte2;
        cursor: pointer;
    }
    &:active{
        background-color: $roxoEscuroForte3;
    }
}

#bttopentestarea {
    font-size: medium;
    padding-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    &::before{
        content: "⪻ Área de Testes";
    }
    &:hover{
        cursor: pointer;
    }
}

.divcontenttestarea {
    width: 0; 
    transition: 0.3s;
}

#divmenu {
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
}

.divmenuitem {
    &:hover{
        transition: 0.25s;
        background-color: $roxoEscuro;
    }
}

// Para mudanças

.display {  
    width: 30vw; 
    height: 100%; 
    background-color: $roxoEscuroForte;
    transition: 0.3s;
}

.content::before{display: none;}
.content::after {content: "⪼ Área de Testes";}