@import 'base';
$menuPaddingSize: 3vh;

@mixin FullScreen() {
    width: 100%;
    height: 100%;
}

body {
    background-color: $rosaClaro;
}

object {
    height: 98%;
    width: 100%;
}

aside {
    z-index: 1;
}

nav {
    background-color:  $roxoClaro;
}

option {
    padding-top: $menuPaddingSize;
    padding-bottom: $menuPaddingSize;
    padding-left: 25px;
    font-weight: 400;
}

#divgeral {
    position: relative;
    @include FullScreen();
    display: grid;
    grid-template-columns: 20vw 68.8vw auto;
}

#divopentestarea {
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    border-radius: 20px 0px 0px 20px;
    background-color: $roxoEscuroForte;
    transition: 0.2s;
    &:hover{
        background-color: $roxoEscuroForte2;
        cursor: pointer;
    }
    &:active{
        background-color: $roxoEscuroForte3;
    }
}

#bttopentestarea {
    padding-right: 0;
    padding-left: 10px;
    &:hover{
        cursor: pointer;
    }
}

#popentestarea {
    margin: 10px;
}

#divmenu {
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
}

.divmenuitem {
    &:hover{
        transition: 0.25s;
        background-color: $roxoEscuro;
    }
}